# ==========================
# Ambiente virtual
# ==========================
venv/
.venv/
env/

# ==========================
# Variáveis de ambiente
# ==========================
.env

# ==========================
# Cache do Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Arquivos compilados
# ==========================
*.so
*.pyd
*.pyo

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Arquivos do sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Editores
# ==========================
.vscode/
.idea/

# ==========================
# Dados do bot
# ==========================
data/sugestoes.csv
